/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 jun. 2022, 8:53:45
    Author     : daw1
*/
body{
    width: 1024px;
    align-content: center;
    
}
h1{
    color: red;
    background-color: black;
    text-align: center;
}

