body{
    max-width: 700px;
    margin: 0 auto;
}
caption,th{
    background-color: #6A6871;
    color: #FFF;
}
table{
    border: #6A6871 3px solid;
    width: 100%
}
td{
    border-bottom: #6A6871 3px solid;
    text-align:  center;
    padding: 10px;
}
caption{
    padding: 5px;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
h1{
    text-align:  center;
}
 

