h1{
    font-size: 32px;
    text-align:center;
}
h2{font-size: 32px;
   text-align:center;
}
body{
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(137,198,189,0.7287289915966386) 5%, rgba(9,11,121,0.6727065826330532) 44%, rgba(0,255,226,1) 94%, rgba(0,255,226,1) 95%);
}	
li{
    display: inline;
    text-align: center;
    margin: 5px 10px 0 0; 
}
.imagen {
    float: left;
}
#encabezado{
    background-color:aqua;
    color: white;
    font-size: 10px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    padding-top: 2px;
}
#encabezado1{
    color: black;
}
#navegacion{
    background-color: aqua;
    padding: 15px 0 15px 0;
    width: 100%

}
.topmenu {
    background-color: azure;
    padding: 20px;
    font-size: 20px;
}
.topmenu .active{
    text-decoration: 3px underline red;
    text-underline-offset: 20%;
}
.topmenu .news:before{
    content:"\f1ea";
    font-family:font-awesome;
    padding:5px;
}
.topmenu .contact:before{
    content:"\f007";
    font-family:font-awesome;
    padding:5px;
}
.topmenu .about:before{
    content:"\f128";
    font-family:font-awesome;
    padding:5px;
}
.divcont{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.divele{
    width: 100%;
    padding: 10px;
    border: 2px solid #00d4ff;
    margin:20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 250px;
    max-width: 350px;
}
a{
    margin: 10px;
}
.imagen{
    height: 75%;
    width: 100%;
}
footer {
    text-align: center;
    background-color: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer p{
    padding-bottom: 10px;
}